body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-family: Comic Sans MS;
    color: darkblue;
    font-size: 60px;
}

h4{
    font-style:'italic';
    text-align: right;
    color:black;
}

h3{
    text-align: left;
    color:black;

}
.h3plok{
    color: rgb(255, 255, 255);
}

.p1plok{
    color: rgb(239, 172, 4);

}
